<h2>管理画面</h2>

<div class="rows">
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to '社員管理', admin_employees_path %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to '顧客管理', admin_customers_path %>
      </div>
    </div>
  </div>
</div>
