<h2><%= current_employee.name %>さんのHome</h2>

<div class="rows">
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= link_to '担当顧客管理', home_customers_path %>
      </div>
    </div>
  </div>
</div>
